@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    scroll-margin: 8rem;
}

:root {
    --c-global-background: #fff9ec;
    --c-global-text: #2d2d2d;
    --c-second-text: #575757;

    --c-line: #DCDCDC;

    --c-contrast: rgb(255, 157, 0);

    --size-xs: .15rem;
    --size-s: .4rem;
    --size-m: 1.1rem;
    --size-l: 1.5rem;
    --size-xl: 4rem;
    --size-xxl: 11rem;

    --radius-s: 4px;
    --radius-m: 6px;
    --radius-l: 14px;
    --radius-xl: 18px;
    
    --heading-spacer: 30vw;
}

html {}

body {
    background-color: var(--c-global-background);
    color: var(--c-global-text);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    all: unset;
    cursor: pointer;
}

h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 2.3rem;
}

h2 {
    position: relative;
    left: var(--heading-spacer);
    width: max-content;
    font-size: 1.8rem;
    text-shadow: 2px 0px var(--c-global-background);
    margin-bottom: 2.5rem;

    font-family: 'Fugaz One', cursive;
}

h2::before {
    position: absolute;
    top: 50%;
    content: '';
    height: 3px;
    width: calc(var(--heading-spacer) + 6px);
    transform: translateX(calc(-1*(var(--heading-spacer)))) translateY(-50%);
    color: #2d2d2d;
    background-color: #2d2d2d;
    z-index: -1;
}

h2 a:hover::after {
    content: ' #';
    color: var(--c-second-text);
}

h3 {
    font-family: 'Fugaz One', cursive;
    font-size: 1.4rem;
}

p {
    font-size: var(--size-m);
    color: var(--c-second-text);
}

.action-btn, .second-btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: var(--size-s) var(--size-m);
    background-color: var(--c-contrast);
    color: white;
    font-weight: bold;
    border: 1px solid var(--c-global-text);
    border-radius: 3px;
    cursor: pointer;

    box-shadow: var(--size-xs) var(--size-xs) var(--c-global-text);
}

.action-btn {
    font-family: 'Fugaz One', cursive;
}

.second-btn {
    background-color: white;
    color: var(--c-contrast);

    --c-global-text: var(--c-contrast);
}

.action-btn:hover, .second-btn:hover {
    filter: contrast(1.2);
    transition: .13s;
}

.action-btn:active, .second-btn:active {
    transform: translateX(var(--size-xs)) translateY(var(--size-xs));
    box-shadow: none;
}